<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.alstarboard.repository.ImageMapper">
    <resultMap id="imageResultMap" type="com.example.alstarboard.domain.Image">
        <id property="id" column="id" />
        <result property="path" column="path" />
        <result property="url" column="url" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="selectAll" resultMap="imageResultMap">
        SELECT * FROM images
    </select>

    <!-- insert image data -->
    <insert id="insertImage" parameterType="com.example.alstarboard.domain.Image" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO images (path, url)
        VALUES (#{path}, #{url})
    </insert>
</mapper>
