<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.alstarboard.repository.ReplyMapper">
    <resultMap id="replyResultMap" type="com.example.alstarboard.domain.Reply">
        <id property="id" column="id" />
        <result property="text" column="text" />
        <result property="board" column="board" />
        <result property="like" column="like" />
        <result property="unlike" column="unlike" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="selectAll" resultMap="replyResultMap">
        SELECT * FROM reply
    </select>
</mapper>
